---
import SiteLayout from '../layouts/SiteLayout.astro'
---
<SiteLayout>
    <div class="border-4 border-dashed border-amber-500 p-4 text-center">
        <h1 class="text-4xl mb-5 uppercase">404 Not Found</h1>
        <p><a href="/" class="underline text-web-blue">==> GO HOME</a></p>
    </div>
</SiteLayout>