---
import SiteLayout from "../layouts/SiteLayout.astro";
import SetGallery from "../components/SetGallery.astro";

const setName = '001 The Opening Note';
---
<SiteLayout title="Set 001 - The Opening Note">
    <div class="border-4 border-dashed border-amber-500 p-4 text-center">
        <p>More information about the set is coming soon!</p>
    </div>

    <SetGallery setName="001 The Opening Note"/>
</SiteLayout>