---
import { Image } from 'astro:assets';
import { Card } from "../libs/CardRepository";
import CardArtResolver, { ArtCollection } from "../libs/CardArtResolver";

interface Props {
    artCollection: ArtCollection;
    card: Card;
}

const { card, artCollection } = Astro.props;

const cardArt = await CardArtResolver(card, artCollection);
---
<div class="flex flex-row" x-data="{}">
    { cardArt.map((image) => <a
            class="ml-4 cursor-pointer"
            data-lightbox-image-src={ image.public.src }
            data-lightbox-caption={ card.TITLE }
            x-on:click.stop="$dispatch('img-modal', { imgModalSrc: $el.dataset.lightboxImageSrc, imgModalAlt: $el.dataset.lightboxCaption })"
    >
        <Image src={ image.asset } width="34" height="48" alt="Card {card.TITLE}"/>
    </a>) }
</div>